.idea/
labels_grouped.txt
__pycache__/
Nicht bestätigt 268322.crdownload
2305.04868v1.pdf
models
SignNet+/phoenix-2014.v3
.venv
SignNet+/checkpoint.json
SignNet+/parsed_landmarks_dataset_(nicht_verwenden)
SignNet+/LandmarksPhoenixDataset
SignNet+/word_landmarks_extracted
SignNet+/landmarks_dev
SignNet+/landmarks_dev_cleaned
SignNet+/landmarks_test
SignNet+/landmarks_test_cleaned
SignNet+/landmarks_train
SignNet+/landmarks_train_cleaned
SignNet+/checkpoints